.pagination {
  display: flex;
  padding: 10px;
}

.pagination__pages {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination__btn {
    font-size: 16px;
    line-height: 34px;
    min-width: 36px;
    height: 34px;
    margin: 3px;
    border-bottom: 1px solid #4546a5;
    border-radius: 5px;
    background-color: #fff;
    outline-style: none;
}

.pagination__btn_active {
    font-weight: bold;
    border-color: orange
}

.pagination__space {
    padding: 10px 7px;
}


