.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:start;
    width: 200px;
    height: 250px;
    padding: 8px;
    margin-bottom: 30px;
    border: 2px solid black;
}

.image {
    width: 100%;
    height: 80%;
    background-color: cornflowerblue;
}

.image img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 910px ) {
   .wrap {
       width: 150px;
       height: 150px;
       padding: 8px 7px
   }
}

@media screen and (max-width:680px ) {
    .wrap {
        margin: 20px;
    }
}