.input_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 278px;
    height: 68px;
    padding-left: 19px;
    font-family: Roboto;
    font-size: 12px;
    border: 2px solid;
    border-radius: 10px;
}

.input_area input {
    width: 120px;
    background-color: rgba(255,255,204,1);
    border: none;
    margin-top: 10px;
    outline: none
}

@media screen and (max-width: 320px ) {
    .input_area {
        width:100%;
    }

}