.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: #999999;
    border: none;
    outline-style: none;
}

.button img {
    width: 48px;
    height: 48px;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.button:active {
    border: 2px solid green;
}