.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: orange;
    border:2px solid;
    outline-style: none;
}

.button img {
    width: 70%;
    height: 70%;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.button:active {
    border: 2px solid green;
}