.wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 37px;
    width: 1032px;
}

.mainBar {
    width: 100%;
    background-color: #EBEBEB;
    padding-right: 34px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 27px;
    padding-top: 13px;
    margin-bottom: 30px;
}

.mainBar button {
    border: none;
    font-size: 18px;
    line-height: 21px;
    background-color: #EBEBEB;
}

.mainBar button:hover {
    cursor: pointer;
}

.mainContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.selectsBar {
    width: 318px;
    height: 100%;
    padding-top: 72px;
    background-color: #FAFAFA;
    margin-right: 10px;
}

.cards {
    width: 684px;
    background-color: #FAFAFA;
    padding: 58px 86px 0px 86px;
}

.cardsItems {
    height: 491px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

