.wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1032px;
    max-width: 1032px;
}

.mainBar {
    width: 100%;
    background-color: #EBEBEB;
    padding-right: 34px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 27px;
    padding-top: 13px;
    margin-bottom: 30px;
}

.mainBar button {
    border: none;
    font-size: 18px;
    line-height: 21px;
    background-color: #EBEBEB;
}

.mainBar button:hover {
    cursor: pointer;
}

.mainContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.selectsBar {
    width: 318px;
    height: 100%;
    padding-top: 72px;
    background-color: #FAFAFA;
    margin-right: 10px;
}

.cards {
    width: 684px;
    height: 100%;
    background-color: #FAFAFA;
    padding: 58px 86px 333px 86px;
}

.cardsItems {
    height: 491px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width:1032px ) {
    .wrap {
        width: 100%;
    }
}

@media screen and (max-width:768px ) {
    .cards {
        padding: 29px 43px 333px 43px;
    }
}

@media screen and (max-width:680px ) {
    .mainContent {
        flex-direction: column;
    }
    .selectsBar {
        width: 100%;
        margin-bottom: 15px;
    }
    .cards {
        width: 100%;
        padding: 20px 20px 333px 20px;
    }
    .cardsItems {
        justify-content: center;
        height: 100%;
    }
}



